<launch>
  <!-- Command Line Arguments -->
  <!-- CAM 1-->
  <arg name="sensor_id1" default="0" />                       <!-- The sensor id of the camera -->
  <arg name="cam_name1" default="csi_cam_$(arg sensor_id1)" /> <!-- The name of the camera (corrsponding to the camera info) -->
  <arg name="frame_id1" default="/$(arg cam_name1)_link" />    <!-- The TF frame ID. -->
  <arg name="sync_sink1" default="true" />                    <!-- Synchronize the app sink. Setting this to false may resolve problems with sub-par framerates. -->
  <arg name="width1" default="1920" />                        <!-- Image Width -->
  <arg name="height1" default="1080" />                       <!-- Image Height -->
  <arg name="fps1" default="30" />                            <!-- Desired framerate. True framerate may not reach this if set too high. -->

  <!-- Make arguments available to parameter server -->
  <param name="$(arg cam_name1)/camera_id" type="int" value="$(arg sensor_id1)" />
  <param name="$(arg cam_name1)/image_width" type="int" value="$(arg width1)" />
  <param name="$(arg cam_name1)/image_height" type="int" value="$(arg height1)" />
  <param name="$(arg cam_name1)/target_fps" type="int" value="$(arg fps1)" />

  <!-- Start the GSCAM node -->
  <node pkg="gscam" type="gscam" name="$(arg cam_name1)">
    <param name="camera_name" value="$(arg cam_name1)" />
    <param name="frame_id" value="$(arg frame_id1)" />
    <param name="sync_sink" value="$(arg sync_sink1)" />
    <param name="gscam_config" value="nvcamerasrc sensor-id=$(arg sensor_id1) ! video/x-raw(memory:NVMM),
    width=(int)$(arg width1), height=(int)$(arg height1), format=(string)I420, framerate=(fraction)$(arg fps1)/1 ! 
    nvvidconv flip-method=2 ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR" />
    <remap from="camera/image_raw" to="$(arg cam_name1)/image_raw" />
    <remap from="/set_camera_info" to="$(arg cam_name1)/set_camera_info" />
  </node>
  
  
  <!-- CAM 2-->
  <arg name="sensor_id2" default="1" />                       <!-- The sensor id of the camera -->
  <arg name="cam_name2" default="csi_cam_$(arg sensor_id2)" /> <!-- The name of the camera (corrsponding to the camera info) -->
  <arg name="frame_id2" default="/$(arg cam_name2)_link" />    <!-- The TF frame ID. -->
  <arg name="sync_sink2" default="true" />                    <!-- Synchronize the app sink. Setting this to false may resolve problems with sub-par framerates. -->
  <arg name="width2" default="1920" />                        <!-- Image Width -->
  <arg name="height2" default="1080" />                       <!-- Image Height -->
  <arg name="fps2" default="30" />                            <!-- Desired framerate. True framerate may not reach this if set too high. -->

  <!-- Make arguments available to parameter server -->
  <param name="$(arg cam_name2)/camera_id" type="int" value="$(arg sensor_id2)" />
  <param name="$(arg cam_name2)/image_width" type="int" value="$(arg width2)" />
  <param name="$(arg cam_name2)/image_height" type="int" value="$(arg height2)" />
  <param name="$(arg cam_name2)/target_fps" type="int" value="$(arg fps2)" />

  <!-- Start the GSCAM node -->
  <node pkg="gscam" type="gscam" name="$(arg cam_name2)">
    <param name="camera_name" value="$(arg cam_name2)" />
    <param name="frame_id" value="$(arg frame_id2)" />
    <param name="sync_sink" value="$(arg sync_sink2)" />
    <param name="gscam_config" value="nvcamerasrc sensor-id=$(arg sensor_id2) ! video/x-raw(memory:NVMM),
    width=(int)$(arg width2), height=(int)$(arg height2), format=(string)I420, framerate=(fraction)$(arg fps2)/1 ! 
    nvvidconv flip-method=2 ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR" />
    <remap from="camera/image_raw" to="$(arg cam_name2)/image_raw" />
    <remap from="/set_camera_info" to="$(arg cam_name2)/set_camera_info" />
  </node>
</launch>
